html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.marker-cluster-small {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.marker-cluster-small div {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.marker-cluster-medium {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.marker-cluster-medium div {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.marker-cluster-large {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.marker-cluster-large div {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.leaflet-oldie .marker-cluster-small {
    background-color: rgba(51, 83, 183, 0.6) !important;
}
.leaflet-oldie .marker-cluster-small div {
    background-color: #3353b7;
}
.leaflet-oldie .marker-cluster-medium {
    background-color: #3353b7;
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: #3353b7;
}
.leaflet-oldie .marker-cluster-large {
    background-color: #3353b7;
}
.leaflet-oldie .marker-cluster-large div {
    background-color: #3353b7;
}
.marker-cluster {
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: white;
}